{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Social Book</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/all.css' %}" rel="stylesheet">
  <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
  <style>
    #id_body{
      width: 320px;
      height: 30px;
    }
  </style>

</head>

<body style="background-color: wheat;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" style="height: 60px;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}" style="font-weight: bold;">Social Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="bg bg-dark" style="display: flex; align-items: center; justify-content: space-between; height: 50px; padding: 32px 10px 20px 10px; text-align: center; font-size: 15px;">
        <div style="gap: 30px; display: flex; text-align: center; align-items: center;">
            <p style="font-weight: bold; color: wheat;">You logged in as {{user.username}}</p>
            <p><a style="text-decoration: none; color: white;" href="{% url 'profile' %}">Your Profile</a></p>
            <p><a style="text-decoration: none; color: white" href="{% url 'mypost' %}">My Post</a></p>
            <p><a style="text-decoration: none; color: white; cursor: pointer;" data-url = "{% url 'createpost'%}" data-toggle="modal" data-target = "#Modalcreatepost" class="create">Create Post</a></p>



              

            <p><a style="text-decoration: none; color: white" href="{% url 'logout' %}">logout</a></p>
        </div>
    </div>
    </div>
  </nav>

  


  {% block content %}

  {% endblock  %}


<!-- Footer -->
<footer class="py-3 bg-dark">
<div class="container">
  <p class="m-0 text-center text-white">Copyright &copy; Your Website 2025</p>
</div>
<!-- /.container -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

{% block script%}
{% endblock script%}
<!-- Bootstrap core JavaScript -->



</body>
</html>
