{% extends 'myapp/base.html'%}
{% block content %}
    <!-- style="color :red;" -->
     <div class="detail-container" style="align-items: center; text-align: center; margin-top: 10px;margin: 50px 0px 50px 0px;">
    <h2> Post Detail</h2>

    <p style="font-weight : bold; font-size: 20px; " >{{object.user.username}}</p>
    <img src= "{{object.post_img.url}}" alt="Not Showing" width="300" >
    <!-- <p class="num-of-likes" id ="num">{{object.likes.count}}</p> -->
          
<!-- 
    {% if msg %}

        <i style="font-size: 22px; cursor: pointer;" class="fa-solid fa-heart" id="like{{post.id}}" data-catid="{{ post.id }}"></i> 
  
    {% else %}

        <i style="font-size: 22px; cursor: pointer;" class="fa-regular fa-heart" id="like{{post.id}}" data-catid="{{ post.id }}"></i>

    {% endif %} -->
    {% if user.is_authenticated %}
    {% csrf_token %}     
        <span style="display: block;" class="" id="like_count">{{ object.news_likes_count }}</span>
        <button class="like-button" value="{{ object.id }}" style="margin: 12px 12px;"> Like </button>
  {% endif %}
    <p>{{object.caption}}</p>
    </div>


    <!-- <script>


        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');



    let btn = document.querySelector("i")
    let num_of_likes = document.getElementById("num")
    let post_id = '{{object.id}}'
    
    btn.addEventListener("click", likePost)
    
    function likePost(e){
    console.log("Script code");
    e.preventDefault()
    let url = "{% url 'like' %}"
    const data = {id:post_id}
    console.log(data);
    
    fetch(url, {
        method: 'POST',
        headers: {"Content-Type": "application/json",
        'X-CSRFToken': csrftoken
    },
        body : JSON.stringify(data)

    })
    .then(res => res.json())
    .then(data => {
        console.log(data)
        if(data["check"] == 1){
        btn.classList.remove("fa-regular")
        btn.classList.add('fa-solid')
        }
    
        else if(data["check"] == 0){
        btn.classList.add("fa-regular")
        btn.classList.remove('fa-solid')
        }
    
        else{
        alert("you need to login")
        }
    
        num_of_likes.innerHTML = data["num_of_likes"]
    
    
        })
    
    
    }
    
    </script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>

    $(document).on('click', '.like-button', function (e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "like" %}',
        data: {
          postid: $(this).val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'post'
        },
        success: function (json) {
          console.log(json);
          
          document.getElementById("like_count").innerHTML = json['result']
        },
        error: function(xhr, errmsg, err) {
  
        }
      });
    })
  
  </script>
{% endblock %}